body {
    background: #b06ce8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#buttons {
    display: flex;
    gap: 40px;
}

.btn {
    background: #5a2d91;
    border: none;
    padding: 18px 40px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #6a32a8;
}

.stop {
    background: #4c1f7c;
}

.stop:hover {
    background: #5d2793;
}
