body {
    background: #a678d8;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#buttons {
    display: flex;
    gap: 40px;
}
.btn {
    background: #6c43a4;
    color: #fff;
    border: none;
    padding: 30px 60px;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    transition: background 0.2s;
    font-family: 'Poppins', sans-serif;
}
.btn:hover {
    background: #44276a;
}
.stop {
    background: #c0392b;
}
.stop:hover {
    background: #831c13;
}


